<footer class="  h-25 mt-1 px-4 py-4" style="background-color: #F8F9FA;">

    <div class="w-85 m-auto">
    <h2 class="card-title">
        Get the FreshCart app
    </h2>

    <p  class="card-body">we will send you a link , open it to download the app</p>
    <form class="form-inline w-100  ">
        <div class="form-group  mb-2 row  ">
            <input type="email" class="form-control w-75 mr " style="height: 2rem;" id="inputEmail" placeholder="email">
            <button type="submit" class="btn btn-success  mb-2 " style="height: 2rem; width: 10rem ;" >Share App Link</button>
        </div>
    </form>
</div>

<hr>
 
Lorem ipsum dolor sit amet icon icon icon

<hr>

</footer>