<!-- <div class=" row justify-content-center mx-0">
   
    <div *ngFor="let prod of prods" [routerLink]="['/oneProd',prod.id]" class="card bg-light col-sm-8 col-md-4 col-lg-2 mx-4 my-2 customcard" >
        <img class="card-img-top image-fluid mx-auto mt-2" *ngIf="prod.image" [src]="prod.image" alt="prod image">
        <div class="card-body">
            <h5 class="card-title text-success">{{prod.category}}</h5>
            <p class="card-text">{{prod.title | slice:0:20}}...</p>
        </div> 
    </div>

</div> -->

<h2>cart </h2>
