  <!-- <div class=" row justify-content-center mx-0">
   
    <div *ngFor="let prod of prodDit "  class="card bg-light col-sm-8 col-md-4 col-lg-2 mx-4 my-2 customcard" >
        <img class="card-img-top image-fluid mx-auto mt-2" *ngIf="prod.data.image" [src]="prod.data.image" alt="prod image">
        <div class="card-body">
            <h5 class="card-title text-success">{{prod.data.category}}</h5>
            <p class="card-text">{{prod.data.title | slice:0:20}}...</p>
            <h5 class="card-title text-success">{{prod.item.qunt}}</h5>
        </div> 
    </div>

</div> 
 -->
